<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Keyboard Events & v-model</h1>
            <label>Name:</label>
            <input type="text" v-on:keyup.enter="logName" /><!--Modifiers-->
            <label>Age:</label>
            <input type="text" v-on:keyup.alt.enter="logAge" /><!--Modifiers--><br/><br/>
            <label>Name:</label>
            <input type="text" v-model="name"/><!--v-model for liveupdate-->
            {{name}}
            <label>Age:</label>
            <input type="text" v-model="age" /><!--v-model for liveupdate-->
            {{age}}
        </div>
    </body>

    <script src="keyboardevents.app.js"></script>
</html>