<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>Looping</h1>
            <ol>
                <li v-for="character in characters">{{ character }}</li><!--Using Ordered List-->
            </ol>  
            <ul>
                <li v-for="(ninja , index) in ninjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
            </ul> 
            <div v-for="(ninja , index) in ninjas">
                <h4>{{ index }} . {{ ninja.name }}</h4> 
                <p>{{ ninja.age }}</p>
            </div>     
            
            <template v-for="(ninja , index) in ninjas">
                <h4>{{ index }} . {{ ninja.name }}</h4> 
                <p>{{ ninja.age }}</p>
            </template>

            <template v-for="(ninja in ninjas"><!--Using value and key-->
                <div v-for="(val,key) in ninja">
                    <p>{{key}} - {{val}}</p>
                </div>                               
            </template>
       
        </div>
    </body>

    <script src="looping.app.js"></script>
</html>