html {
      background: rgb(185, 161, 161);
  font-family: sans-serif;
}

body{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    border: 2px solid rgb(32, 16, 179);
    border-radius: 4px;
    max-width: 350px;
}

#result{
    font-size: 42px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: grid;
    padding: 10px;
    justify-items: end;
    align-items: center;
    border-bottom: 2px solid rgb(32, 16, 179);
}

#pad{
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-gap: 10px;
    padding: 15px;
}

.btn{
    cursor: pointer;
    font-size: 20px;
    display: grid;
    padding: 15px 10px;
    justify-items: center;
    align-items: center;
    color: #FAFAFA;
    border: 1px solid #222;
    border-radius: 4px;
    background: #777;
}

.btn:hover{
    background: rgb(204, 218, 13);
}

#clear{
    background: steelblue;
    grid-column: 1/4;
}

#clear:hover{
    background: rgb(204, 218, 13);
}


#zero{
    grid-column: 1/4;
}

#equal{
    background: seagreen;
}
 